<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eclipse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Eclipse.Properties.Settings>
            <setting name="AK47_SkinID" serializeAs="String">
                <value>675</value>
            </setting>
            <setting name="AUG_SkinID" serializeAs="String">
                <value>455</value>
            </setting>
            <setting name="AWP_SkinID" serializeAs="String">
                <value>344</value>
            </setting>
            <setting name="FAMAS_SkinID" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="GALILAR_SkinID" serializeAs="String">
                <value>478</value>
            </setting>
            <setting name="M4A1S_SkinID" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="M4A4_SkinID" serializeAs="String">
                <value>309</value>
            </setting>
            <setting name="SCAR20_SkinID" serializeAs="String">
                <value>391</value>
            </setting>
            <setting name="SG553_SkinID" serializeAs="String">
                <value>487</value>
            </setting>
            <setting name="SSG08_SkinID" serializeAs="String">
                <value>222</value>
            </setting>
            <setting name="G3SG1_SkinID" serializeAs="String">
                <value>487</value>
            </setting>
            <setting name="CZ75Auto_SkinID" serializeAs="String">
                <value>476</value>
            </setting>
            <setting name="Glock18_SkinID" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="USPS_SkinID" serializeAs="String">
                <value>313</value>
            </setting>
            <setting name="P2000_SkinID" serializeAs="String">
                <value>389</value>
            </setting>
            <setting name="P250_SkinID" serializeAs="String">
                <value>388</value>
            </setting>
            <setting name="DUALBERETTAS_SkinID" serializeAs="String">
                <value>261</value>
            </setting>
            <setting name="FIVESEVEN_SkinID" serializeAs="String">
                <value>44</value>
            </setting>
            <setting name="TEC9_SkinID" serializeAs="String">
                <value>889</value>
            </setting>
            <setting name="R8REVOLVER_SkinID" serializeAs="String">
                <value>522</value>
            </setting>
            <setting name="DESERTEAGLE_SkinID" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="MAC10_SkinID" serializeAs="String">
                <value>433</value>
            </setting>
            <setting name="P90_SkinID" serializeAs="String">
                <value>182</value>
            </setting>
            <setting name="MP5SD_SkinID" serializeAs="String">
                <value>915</value>
            </setting>
            <setting name="UMP45_SkinID" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="PPBIZON_SkinID" serializeAs="String">
                <value>306</value>
            </setting>
            <setting name="MP7_SkinID" serializeAs="String">
                <value>481</value>
            </setting>
            <setting name="MP9_SkinID" serializeAs="String">
                <value>262</value>
            </setting>
            <setting name="XM1014_SkinID" serializeAs="String">
                <value>393</value>
            </setting>
            <setting name="MAG7_SkinID" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="SAWEDOFF_SkinID" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="NOVA_SkinID" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="NEGEV_SkinID" serializeAs="String">
                <value>483</value>
            </setting>
            <setting name="M249_SkinID" serializeAs="String">
                <value>472</value>
            </setting>
            <setting name="Killstreaknumber" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DelayTriggerBot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayAntiFlash" serializeAs="String">
                <value>0</value>
            </setting>
        </Eclipse.Properties.Settings>
    </userSettings>
</configuration>